@import url('reset.css');

body {
	font-family: 'Roboto ', Helvetica, sans-serif;
	text-align: center;
	background: #141516;
	/*background-image: url("../img/bg.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top; */
}

#container {
	margin: 0 auto;
	width: 800px;
	text-align: center;
}

h1 {
	font-family: 'Roboto Slab', Helvetica, sans-serif;
	font-size: 32px;
	color: #DDD;
	position: fixed;
	left: 50%;
	top: 40%;
	margin: 0 0 0 -50%;
	width: 100%;
}

a {
	text-decoration: none;
	color: #777;
	font-size: 11px;
}

a:hover {
	text-decoration: underline;
	color: #DDD;
}

ul {
	list-style-type: none;
	margin: 36px 0 36px -200px;
	padding: 0;
	position: fixed;
	width:400px;
	left: 50%;
	bottom: 0;

}

ul li {
	display: block;
	float:left;
	width: 20%;
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 600px) {

	
	h1 {
		font-size: 40px;
		top: 30%;
		width: 80%;
		margin: 0 0 0 -40%;
	}
	
	a {
		text-decoration: none;
		color: #888;
		font-size: 12px;
	}
	ul {
		list-style-type: none;
		margin: 36px 0 36px -50%;
		padding: 0;
		position: fixed;
		width:100%;
		left: 50%;
		bottom: 0;
	}
	ul li {
		display: block;
		float:left;
		width: 20%;
	}
}