@import url('reset.css');

body {
	font-family: 'Roboto', Helvetica, sans-serif;
	text-align: center;
	background: #141516;
	color: #FFF;
	/*background-image: url("../img/bg.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top; */
}

#container {
	margin: 0 auto;
	width: 800px;
	text-align: center;
}

header {
	position: fixed;
	left: 50%;
	top: 40%;
	margin: 0 0 0 -50%;
	width: 100%;
}

h1 {
	font-family: 'Roboto Slab', Helvetica, sans-serif;
	font-size: 32px;
	color: #DDD;
}

h2 {
	margin: 16px 0;
	color:#999;
	font-size: 16px;
	font-weight: 400;
}

ul.links {
	list-style-type: none;
	margin: 36px 0 36px -180px;
	padding: 0;
	position: fixed;
	text-align: center;
	width:360px;
	left: 50%;
	bottom: 0;
}

ul.links li {
	display: block;
	float:left;
	width: 25%;
}

ul.links li a {
	text-decoration: none;
	color: #777;
	font-size: 10px;
	text-transform: uppercase;
}

ul.links li a:hover {
	text-decoration: underline;
	color: #DDD;
}


@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 600px) {
	header {
		top: 30%;
		width: 80%;
		margin: 0 0 0 -40%;
	}
	
	h1 {
		font-size: 40px;
	}

	ul.links {
		list-style-type: none;
		margin: 36px 0 36px -45%;
		padding: 0;
		position: fixed;
		width:90%;
		left: 50%;
		bottom: 0;
	}

}