@import url('reset.css');

body {
	font-family: 'Roboto ', Helvetica, sans-serif;
	text-align: center;
	background: #F9F9F9;
	margin: 96px 0;
}

h1 {
	font-family: 'Roboto Slab', Helvetica, sans-serif;
	font-size: 24px;
}

a {
	text-decoration: none;
	color: #666;
	font-size: 11px;
}

a:hover {
	text-decoration: underline;
	color: #333;
}

ul {
	list-style-type: none;
	margin: 32px 0;
	padding: 0;
}

ul li {
	display: inline;
	margin: 0 12px;
}